<div class="container">
    <div class="left">
      <div class="header">
        <h2 class="animation a1">Welcome Back</h2>
        <h4 class="animation a2">Enter your new password</h4>
      </div>
      <div class="form">
        <input [ngModel]="email" (ngModelChange)="log($event)" name="email" type="email" class="form-field animation a3" placeholder="Email">
        <input [ngModel]="password" (ngModelChange)="log1($event)" name="password" type="password" class="form-field animation a3" placeholder="new password">
        <button routerLink="/" class="animation a6" (click)="post()">RESET</button>
      </div>
    </div>
    <div class="right"></div>
  </div>
  