<div class="page">
  <label class="field field_v1">
    <input [(ngModel)]="user.fullname" class="field__input" placeholder="e.g. Stanislav" />
    <span class="field__label-wrap">
      <span class="field__label">Full name</span>
    </span>
  </label>
  <label class="field field_v2">
    <input [(ngModel)]="user.username" class="field__input" placeholder="e.g. Melnikov" />
    <span class="field__label-wrap">
      <span class="field__label">User name</span>
    </span>
  </label>
  <label class="field field_v3">
    <input [(ngModel)]="user.phone_number" class="field__input" placeholder="e.g. melnik909@ya.ru" />
    <span class="field__label-wrap">
      <span class="field__label">E-mail</span>
    </span>
  </label>
  <label class="field field_v3">
    <input [(ngModel)]="user.email" class="field__input" placeholder="e.g. melnik909@ya.ru" />
    <span class="field__label-wrap">
      <span class="field__label">Mobile</span>
    </span>
  </label>
  <label class="field field_v3">
    <input [(ngModel)]="user.adrress" class="field__input" placeholder="e.g. melnik909@ya.ru" />
    <span class="field__label-wrap">
      <span class="field__label">Adrress</span>
    </span>
  </label>
</div>
