<div class="page">
  <label class="field field_v1">
    <input class="field__input" placeholder="e.g. Stanislav">
    <span class="field__label-wrap">
      <span class="field__label">First name</span>
    </span>
  </label>
  <label class="field field_v2">
    <input class="field__input" placeholder="e.g. Melnikov">
    <span class="field__label-wrap">
      <span class="field__label">Last name</span>
    </span>
  </label>    
  <label class="field field_v3">
    <input class="field__input" placeholder="e.g. melnik909@ya.ru">
    <span class="field__label-wrap">
      <span class="field__label">E-mail</span>
    </span>
  </label>
</div>