<div>
  <img
    id="banner"
    src="https://media.discordapp.net/attachments/895785542036361257/922190447852527646/banner.jpg?width=1440&height=578"
    alt=""
  />
</div>

<div>
  <img
    id="tool-owners"
    src="https://media.discordapp.net/attachments/895785542036361257/922223272211398717/unknown.png?width=1440&height=356"
    alt=""
  />
</div>

<div>
  <img
    id="tool-renters"
    src="https://media.discordapp.net/attachments/895785542036361257/922223439148900362/unknown.png?width=1440&height=376"
    alt=""
  />
</div>
<br />
<br />
<div>
  <img
    id="mid-section"
    src="https://media.discordapp.net/attachments/895785542036361257/922190448099995709/center.jpg"
    alt=""
  />
</div>
<br />
<br />
<div>
  <img
    id="lower-section"
    src="https://media.discordapp.net/attachments/895785542036361257/922190448456503366/end.jpg"
    alt=""
  />
</div>
