<app-admine-nav></app-admine-nav>
<div class="toolsCardsContainer">
  <div class="container" *ngFor="let tool of tools; let index = index">
    <div class="card" *ngIf="tool.user.verified">
      <div class="card__header">
        <img [src]="tool.pictures[0]" width="600" />
      </div>
      <div class="card__body">
        <div class="btn">
          <button
            (click)="availableOrNot(index)"
            class="tag tag-green"
            *ngIf="tool.available; else elseBlock"
          >
            available
          </button>
          <button class="tag tag-red" (click)="deleteTool(tool._id)">
            delete
          </button>
        </div>

        <ng-template #elseBlock>
          <button (click)="availableOrNot(index)" class="tag tag-red">
            not available
          </button>
        </ng-template>
        <h4>{{ tool.title }}</h4>
        <li>{{ tool.description }}</li>
        <li>{{ tool.price }}</li>
        <small>{{ tool.createdAt }}</small>
      </div>
      <div class="card__footer">
        <div class="user">
          <img
            [src]="tool.user.profile_image_uri"
            alt="user__image"
            class="user__image"
          />
          <div class="user__info">
            <h5>{{ tool.user.username }}</h5>
            <p><span>Mobile</span> (216) {{ tool.user.phone_number }}</p>
            <p><span>Email</span> {{ tool.user.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
